mixin headerBlock()
	// start headerBlock
	+b.headerBlock.bg-wrap#headerBlock&attributes(attributes)
		+pic('header-bg','bg','')(class="picture-bg")
		.container
			+e.tv-block.bg-wrap
				+e.live live
				+pic('header-img-TV','bg','')(class="picture-bg")
				h1 Поможем провести мероприятие в&nbsp;онлайн-формате
				p Компания RUVENTS предлагает комплексный набор настраиваемых решений для проведения мероприятия в&nbsp;онлайн-формате
	// end headerBlock