.top-nav {
	z-index: 20;
	@include mt;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	// padding: rem(15) 0;
	padding-top: rem(15);
	font-weight: bold;
	text-transform: uppercase;

	@include media-breakpoint-up(md) {
		top: calc(5vh + #{rem(4)});
	}

	top: rem(10);

	.row {
		align-items: center;

		@include media-breakpoint-up(xxl) {
			@include roww(26);
		}
	}

	@include media-breakpoint-up(xxl) {
		&__col--logo {
			margin-right: rem(40);
		}
	}

	&__nav {
		text-align: center;
		list-style-type: none;
		margin-bottom: 0;
		display: flex;
		max-width: rem(536);
		display: flex;
		justify-content: space-between;

		a {
			color: #ffffff !important;
		}
	}

	&__item {
		list-style-type: none;
	}


	&__tel {
		@extend .h6;
		color: #ffffff !important;
		font-weight: bold;
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-white;
	}

	img {
		max-width: 100%;
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		.row {
			@include roww(5)
		}
	}
}